@import "mocha.css";

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "Fira Mono";
    font-weight: 500;
    font-size: 18px;

    border-radius: 10px;
    text-shadow: none;

    transition-property: background;
    transition-duration: 0.2s;
}

window#waybar {
    background-color: transparent;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces {
    margin-top: 6px;
    background: rgba(16, 20, 24, 0.5);
    transition: none;

    font-size: 12px;
}

#workspaces button {
    border: none;
    padding: 0 10px;
    background-color: transparent;
    color: #ffffff;
}

#workspaces button:hover {
    background: rgba(255, 255, 255, 0.5);
}

#workspaces button.active {
    background: @base;
    color: @text;
}

#workspaces button.active:hover {
    background: @base;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#clock,
#cpu,
#memory,
#network,
#pulseaudio,
#tray,
#mode,
#battery,
#window {
    margin-top: 6px;
    padding: 0 12px;
    color: @text;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>* {
    margin-left: 16px;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>* {
    margin-right: 16px;
}

#clock {
    background-color: @base;
    color: @text;
}

#cpu {
    background-color: @base;
    color: @text;
}

#memory {
    background-color: @base;
    color: @text;
}

#battery {
    background-color: @base;
    color: @text;
}

#battery.full {
    color: green;
}
#battery.warning {
    color: orange;
}

#battery.critical {
    background: red;
}

#pulseaudio {
    background-color: @base;
    color: @text;
}

#network {
    background-color: @base;
    color: @text;
}

#tray {
    background-color: @base;
}

#window {
    font-family: 'Fira Mono', 'Noto Sans CJK SC', sans-serif;
    font-weight: 400;
    background-color: @base;
    color: @text;
}